@import "tailwindcss";

@theme {
    --color-mypink: #FED4FA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}




